/* You can add global styles to this file, and also import other style files */
    .wrap * {padding: 0;margin: 0;}
    .wrap .info {width: 286px;height: 90px;border-radius: 5px;border-bottom: 2px solid #ccc;border-right: 1px solid #ccc;overflow: hidden;background: #fff;}
    .wrap .info:nth-child(1) {border: 0;box-shadow: 0px 1px 2px #888;}
    .info .title {padding: 5px 0 0 10px;height: 30px;background: rgb(216, 247, 44);border-bottom: 1px solid #ddd;font-size: 18px;font-weight: bold;}
    .info .close {position: absolute;top: 10px;right: 10px;color: #888;width: 17px;height: 17px;background: url('http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');}
    .info .close:hover {cursor: pointer;}
    .info .body {position: relative;overflow: hidden;background: rgb(237, 245, 193)}
    .info .desc {position: relative;margin: 5px 0 0 5px;height: 75px;}
    .desc .ellipsis {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
    .info:after {content: '';position: absolute;margin-left: -12px;left: 50%;bottom: 0;width: 22px;height: 12px;background: url('http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
    .info .link {color: #5085BB;}
@font-face { font-family: 'yg-jalnan'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff'); font-weight: normal; font-style: normal; };

@font-face { font-family: 'Chosunilbo_myungjo'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Binggrae-Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae-Bold.woff') format('woff'); font-weight: normal; font-style: normal; }

.background {
  background-image: url("./assets/img/background.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index: -5;
}
.wrap * {padding: 0;margin: 0;}
   .wrap .info {width: 286px;height: 90px;border-radius: 5px;border-bottom: 2px solid #ccc;border-right: 1px solid #ccc;overflow: hidden;background: #fff;}
   .wrap .info:nth-child(1) {border: 0;box-shadow: 0px 1px 2px #888;}
   .info .title {padding: 5px 0 0 10px;height: 30px;background: rgb(216, 247, 44);border-bottom: 1px solid #ddd;font-size: 18px;font-weight: bold;}
   .info .close:hover {cursor: pointer;}
   .info .body {position: relative;overflow: hidden;background: rgb(237, 245, 193)}
   .info .desc {position: relative;margin: 5px 0 0 5px;height: 75px;}
   .desc .ellipsis {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
   .info:after {content: '';position: absolute;margin-left: -12px;left: 50%;bottom: 0;width: 22px;height: 12px;}
   .info .link {color: #5085BB;}

img[src^="http://t1.daumcdn.net/localimg/localimages/07/mapjsapi"]
    {
 display: inline-block;
 width: 24px;
 height: 24px;
}